body{
    background-color:rgb(214, 214, 214)

}

#pic1 {position: absolute; top: 250px; left: 100px}


h1{ position: absolute; top:20px; left: 400px;
    font-size: 70px;
    font-style:normal;
    font-family: monospace;
}

h2{
    position: absolute; top: 221px; left: 690px;
    font-size: 25px;
    font-style:normal;
    font-family: monospace;
    
}

#pic2 {position: absolute; top: 850px; left:690px}





h3{
    position: absolute; top: 730px; left: 100px;
    font-size: 25px;
    font-style: normal;
    font-family: monospace;
}

h4{
    position: absolute; top: 1240px; left: 120px;
    font-size: 25px;
    font-style: normal;
    font-family: monospace;
}

h5{
    position: absolute; top: 1555px; left: 120px;
    font-size: 25px;
    font-style: normal;
    font-family: monospace;
}
