body{
    background-color:rgb(214, 214, 214)

}

p{
    position: absolute; top: 200px; left: 600px;
    font-size: 25px;
    font-style:normal;
    font-family:monospace;
}
h1{
    position: absolute; top: 20px; left: 300px;
    font-size: 50px;
    font-style:normal;
    font-family: monospace;
}
h2{
    position: absolute; top: 300px; left: 600px;
    font-size: 25x;
    font-style:normal;
    font-family: monospace;
    
}


img{
    position: absolute; top: 250px; left: 90px;
}



h3{
    position: absolute; top: 500px; left: 650px;
    font-size: 25px;
    font-style: normal;
    font-family: monospace;
}

h4{
    position: absolute; top: 400px; left: 650px;
    font-size: 25px;
    font-style: normal;
    font-family: monospace;
}